.page1 {
    background-color: rgb(100, 164, 236);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.page1 h1 {
    margin-top: 15rem;
}

.page1 p {
    margin-bottom: 13rem;
}

.page2 {
    min-height: 100vh;
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.page2 h1 {
    padding-top: 5rem;
}

.carousel {
    padding-top: 5rem;
}

.page3 img {
    width: 200px;
}